header{
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.icon{
    height: 70px;
    width: 70px;
    background-image: url("image/Airplane.png");
}
.argon, .cycles, .massive, .lines, .functions, .request, .entry{
    background-color: #fafafa;
    height: 70px;
    width: 110px;
    font-size: 25px;
    text-align: center;
    border: #5e5e5e solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    text-decoration: #fafafa;
}
.entry{
    background: rgb(255, 56, 56);
}