.telegram{
    background-image: url("../../assets/imag/telegram.png");
}
.whatsapp{
    background-image:  url("../../assets/imag/whatsapp.png");
}
.cl_time{
    background-color: grey;
    color: white;
}
.conteiner_nav {
    background-color: black;
    padding: 30px 20px 30px 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   }

.a{
    text-decoration: none;
    font-size: 20px ;
    color: white;
}
.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img_ava {
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: space-around;
    text-align: center;
}

.title {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}



.child1 {
    background-image: url("../../assets/imag/01-29-ar9vi4-tsarskie-vorota.cd9f7e96.jpg");
}

.child2 {
    background-image: url("../../assets/imag/park-galitskogo-1330-530x322.jpg");
}

.child3 {
    background-image: url("../../assets/imag/4588708dd6c5965fa9916afeeab427eb.jpg");
}
.child4 {
    background-image: url("../../assets/imag/filicin.jpg");
}
.krai1, .krai2, .krai3, .krai4, .child1, .child2, .child3, .child4 {
    background-size: contain;
    background-repeat: no-repeat;
}
.child1, .child2, .child3, .child4 {
    padding: 100px;
}
.krai1, .krai2, .krai3, .krai4 {
    padding: 200px;
}
.conteiner2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.conteiner3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.conteiner, .conteiner2, .conteiner3 {
    grid-column-gap: 15px;
}
.krai1 {
    background-image: url("../../assets/imag/sochi-park.jpg");
}
.krai2 {
    background-image: url("../../assets/imag/sochi-national-park.jpg");
}
.krai3 {
    background-image: url("../../assets/imag/dolmens-of-the-western-caucasus.jpg");
}
.krai4 {
    background-image: url("../../assets/imag/rock-sail.jpg");
}
.telegram, .whatsapp{
    height: 20px;
}

.conteiner_f{
    display: grid;
    grid-template-columns: repeat(2, 30px);
}
@media screen and (max-width: 640px) {
    .conteiner2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .conteiner3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .conteiner {
        grid-template-columns: repeat(1, 1fr);
    }
}
