
.conteiner1 {
    display: grid;
    grid: 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 15px);
    background-color: darksalmon;
}

.width
.heigth {
    grid-row-start: 1;
    grid-row-end: 3;
}

.simvol1 {
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: space-around;
    margin: 0;
    font-size: xx-large;
}

.nomer1, .massa1 {
    text-align: right;
}

.name1 {
    grid-column-start: 1;
    grid-column-end: 3;
}