.light-theme {
    background-image: url("../image/daySky.png");
    background-size: 100% 100%;

}

.dark-theme {
    background-image: url("../image/nightSky.png");
    background-size: 100% 100%;
}

.transition {
    width: 1000px
}

.transition1 {
    color: #FFFFFF;
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin-left: 150px;
}
.transition2 {
    color: #FFFFFF;
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin-left: 150px;

}



.myName {
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;


}



.create-line {
    width: 100%;
    margin-top: auto;
    border-top: 3px solid #FFFFFF;
}


.fotoBox {
    display: flex;
    background-image: url("../image/mySkin.jpg");
    background-position: center center;
    background-size: cover;
    width: 500px;
    height: 600px;
    float: left;
    margin-left: 50px;

}
.textBox {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 60px;
    height: 400px;
    font-size: 30px;
    justify-content: center;

}

table, td , tr{

    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    

}

.sector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.pict {
    max-height: 100px;
    max-width: 100px;
}





