body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section{
    padding: 20px 30px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page_fact, .page_bitrix{
    background: #8150bb;
    backdrop-filter: blur(10px);
    height: 30px;
    width: 45%;
    font-size: 15px;
    color: white;
    text-decoration: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50vw;
}

h1 {
    margin-bottom: 20px;
}
input, button{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}
input {

    padding: 10px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

input::placeholder {
    color: #ddd;
}

button {
    padding: 10px;
    background: #2575fc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #6a11cb;
}

.page_fact:hover {
    background: #6a11cb;
}

.page_bitrix:hover {
    background: #6a11cb;
}

p {
    margin-top: 15px;
    color: #fafafa;
}
.logout{
    padding: 10px;
    background: #3a77ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.logout:hover {
    background: #b0b4ff;
}
a{
    text-decoration: none;
}